$itemWidth: 20rem;
$itemHeight: 30rem;
$borderRadius: 12px;

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #fff;
  border-radius: $borderRadius;
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: $itemHeight * 0.75;
  width: $itemWidth * 0.75;
  border-radius: $borderRadius;
  will-change: opacity, transform;
}

.shadow-upper {
  opacity: 0.1;
  transform: scale(0.75);
  transform-origin: top right;
  box-shadow: -60px 60px 40px 10px rgba(#666, 0.3);
}

// before
.shadow-lower {
  box-shadow: -6px 6px 15px 4px rgba(#666, 0.1);
}

@media screen and (min-width: 768px) {
  .shadow {
    width: $itemWidth;
    height: $itemHeight;
  }
}