$itemWidth: 20rem;
$itemHeight: 30rem;
$borderRadius: 12px;
$timing: 300ms;
$timingLong: 500ms;
$easing: cubic-bezier(0, 0, 0.2, 1);

.card {
  outline: 0;
  border: 0;
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  margin: 0 1rem;
  font-size: 1rem;
  height: $itemHeight;
  width: $itemWidth;
  // transition: transform $timing $easing;
  // will-change: transform;
  white-space: normal;
  justify-content: space-between;
  position: relative;

  &:first-child {
    margin-left: 0;
  }
  
  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &.is-active {
    // transform: translate3d(0, -1.5rem, 0);
    z-index: 1;
    position: relative;

    .shadow::before {
      opacity: 0.5;
      transform: none;
    }

    .shadow::after {
      opacity: 1;
      transform: none;
    }
  }
}

.backdrop {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  z-index: -1;
  // background: #d7dfff;
  // border-radius: $borderRadius;
  // transition: transform $timing*3 $easing;
  will-change: transform;
  overflow: hidden;
  transform-origin: bottom;

}

.inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // border-radius: $borderRadius;
  background-color: #fff;
}

.item_content {
  padding: 2rem;
  // transition: transform $timingLong $easing;
  width: 100%;
}

.item_title {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.item_media {
  width: 100%;
  // height: 50%;
  // object-fit: cover;
  pointer-events: none;
  will-change: transform;
  z-index: -1;
  transform-origin: bottom;
  // .is-active & {
  //   filter: blur(3px)
  // }
      // mix-blend-mode: overlay;
    //   top: -10%;
    // position: relative;
}

// .filter {
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   position: absolute;
//   pointer-events: none;
//   background: rgba(243,106,188,.3);
//   mix-blend-mode: screen;
//   z-index: 1;
// }

@media screen and (min-width: 768px) {
  .card {
    width: 20rem;
    height: 32rem;
  }
}