$itemWidth: 20rem;
$itemHeight: 30rem;

.item {
  background-color: #fff;
  outline: 0;
  border: 0;
  display: inline-block;
  padding: 0;
  border-radius: 12px;
  margin: 0 1rem;
  font-size: 1rem;
  height: $itemHeight;
  width: $itemWidth;
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  will-change: transform;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    transition: opacity 300ms cubic-bezier(0, 0, 0.2, 1), transform 300ms cubic-bezier(0, 0, 0.2, 1);
    height: $itemHeight;
    width: $itemWidth;
    border-radius: 12px;
    will-change: opacity, transform;
  }

  // ground shadow
  &::before {
    box-shadow: -6px 6px 15px 4px rgba(#666, 0.1);
  }

  // air shadow
  &::after {
    opacity: 0.1;
    transform: scale(0.75);
    transform-origin: top right;
    box-shadow: -60px 60px 40px 10px rgba(#666, 0.3);
  }

  &:hover {
    transform: translate3d(0, -1.5rem, 0);
    
    &::before {
      opacity: 0.5;
      transform: none;
    }

    &::after {
      opacity: 1;
      transform: none;
    }
  }

  // &:focus {
  //   outline: 1px solid #fff;
  // }
}

.inner {
  overflow: hidden;
  height: 100%;
  // background: orange;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.transitioner {
  height: 50%;
  will-change: transform;
}

.item_content {
  // position: absolute;
  // z-index: 1;
  padding: 2rem;
  // width: 100%;
}

.item_title {
  font-size: 1.7rem;
}

.item_media {
  /* width: 100%;
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  height: 100%;
  bottom: 0; */
  object-fit: cover;
  height: 100%;
  width: 100%;
  transform: scale(1.25);
  pointer-events: none;
}