$itemWidth: 20rem;
$itemHeight: 30rem;
$borderRadius: 12px;
$timing: 300ms;
$timingLong: 500ms;
$easing: cubic-bezier(0, 0, 0.2, 1);

.item {
  outline: 0;
  border: 0;
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  border-radius: $borderRadius;
  margin: 0 1rem;
  font-size: 1rem;
  height: $itemHeight;
  width: $itemWidth;
  transition: transform $timing $easing;
  will-change: transform;
  white-space: normal;
  justify-content: space-between;
  // background-color: #fff;

  &:hover,
  &.is-active {
    // transform: translate3d(0, -1.5rem, 0);
    z-index: 1;
    position: relative;

    .backdrop::before {
      opacity: 0.5;
      transform: none;
    }

    .backdrop::after {
      opacity: 1;
      transform: none;
    }
  }
}

.backdrop {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  z-index: -1;
  background: #fff;
  border-radius: $borderRadius;
  transition: transform $timing*3 $easing;
  will-change: transform;
  overflow: hidden;

}

.inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $borderRadius;
  background-color: #fff;
}

.clipper {
  height: 100%;
}

.item_content {
  padding: 2rem;
  transition: transform $timingLong $easing;
  width: 100%;
}

.item_title {
  font-size: 1.7rem;
}

.item_media {
  width: 100%;
  pointer-events: none;
  will-change: transform;
}
