.Detail {
  position: absolute;
  top: 0;
  z-index: 1;
  max-width: 34rem;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 6rem 2rem;
}

.Detail-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

