
.title {
  margin-bottom: 2rem;
  // letter-spacing: -0.4px;
  // max-width: 60%;
  will-change: opacity;
  
}

.name {
  font-family: 'Rammetto One';
  font-size: 2rem;
  display: block;
  width: 15rem;
  margin-bottom: 0.5rem;
}

.intro {
  max-width: 22rem;
  padding-right: 2rem;
  display: block;
  font-size: 1.1rem;
}

.logo {
  margin-bottom: 1.25rem;
  max-width: 10rem;
  max-height: 11rem;
}

@media screen and (min-width: 768px) {
  .title {
    display: flex;
  }

  .intro {
    max-width: 20rem;
    margin-top: -2px;
  }

  .name {
    margin-bottom: 0;
  }
}